<div class="container" style="padding-top: 120px;">
    <div class="row" style="border-bottom: 1px solid rgb(194, 192, 192);">
        <div class="col-md-12"><h4>Hồ sơ của tôi</h4></div>
        <div class="col-md-12"><a href="/tai-khoan/me/cap-nhat">Sửa hồ sơ</a></div>       
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="profile">
                <p>Tên Tài Khoản</p>
                <p>{{taikhoan.tentk}}</p>
            </div>
            <div class="profile">
                <p>Email</p>
                <p>{{taikhoan.email}}</p>
            </div>
            <div class="profile">
                <p>Số Điện Thoại</p>
                <p>{{taikhoan.sodt}}</p>
            </div>
            <div class="profile">
                <p>Địa Chỉ</p>
                <p>{{taikhoan.diachi}}</p>
            </div>
            <div class="profile">
                <p style="align-self: center">Ảnh đại diện</p>
                <img src="/images/auths/{{taikhoan.anhdd}}">
            </div>
        </div>
    </div>
</div>

